@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.dpClick {
    animation: borderAnimation 1s ease;
}

.progress {
    animation: animate 5s linear forwards;
}

@keyframes animate {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes borderAnimation {
    0% {
        border-right-width: 0;
        border-bottom-width: 0;
        border-left-width: 0;
        border-top-width: 0;
    }

    25% {
        border-right-width: 2px;
        border-bottom-width: 0;
        border-left-width: 0;
        border-top-width: 0;
    }

    50% {
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 0;
        border-top-width: 0;
    }

    75% {
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px;
        border-top-width: 0;
    }

    100% {
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px;
        border-top-width: 2px;
    }
}