@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.dpClick{
    animation: borderAnimation 500ms ease-in-out;
}

.progress{
    animation: animate 5s linear forwards;
}

@keyframes animate{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

@keyframes borderAnimation{
    0% {
        border-width: 2px;
      }
      50% {
        border-width: 3px;
      }
      100% {
        border-width: 2px;
      }
}